@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">AVS | Allviusum service</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Reviews Forms</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Review forms with status awaiting authorization</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id Form</th>
                        <th>Country</th>
                        <th>Customer</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>View Form</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.forms)
                    {
                        <tr>
                            <td>
                                @item.idForm
                            </td>
                            <td>
                                @item.country
                            </td>
                            <td>
                                @item.customer
                            </td>
                            <td>
                                @item.status
                            </td>
                            <td>@Html.ActionLink("Authorize", "Auth", new { idform = item.idForm })</td>
                            <td>@Html.ActionLink("View", "CreatePDF","Formularies", new { idform = item.idForm })</td>
                        </tr>

                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Id Form</th>
                        <th>Country</th>
                        <th>Customer</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>View Form</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- /.content -->
</div>

<!-- /.content-wrapper -->