@using AVS_Global.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@model AVS_Global.Models.CubaModelView

@inject IStringLocalizer<FormulariesController> Localizer
@inject IHtmlLocalizer<FormulariesController> HtmlLocalizer

@{
    Layout = "~/Views/Shared/_NavBarForms.cshtml";
}

@{
    ViewData["Title"] = "Cuba";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">

    <link href="~/bootstrap.min.css" rel="stylesheet" />
    <link href="~/style.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" />
    <link href="~/css/lightbox.css" rel="stylesheet" />

</head>
<body>
    <!--PEN CONTENT     -->
    <div class="content">

        <!--content inner-->
        <div class="content__inner">
            <div class="container">
                <!--content title-->
                <div class="content__title content__title--m-sm">
                </div>
            </div>
            <div class="container overflow-hidden">
                <!--multisteps-form-->
                <form asp-action="Index" asp-controller="Formularies" method="post">
                    <div class="content__title content__title--m-sm">
                        <button class="btn btn-success" type="submit" title="Return">@Localizer["but.Return"]</button>
                    </div>
                </form>
                <div class="multisteps-form">
                    <!--progress bar-->
                    <div class="row">
                        <div class="col-12 col-lg-7 ml-auto mr-auto mb-4">
                            <div class="multisteps-form__progress">
                                <button class="multisteps-form__progress-btn js-active" type="button" title="contact">@Localizer["steps.cd"]</button>
                                <button class="multisteps-form__progress-btn" type="button" title="travShipp">@Localizer["steps.ts"]</button>
                                <button class="multisteps-form__progress-btn" type="button" title="Summary">@Localizer["steps.sum"]</button>
                                <button class="multisteps-form__progress-btn" type="button" title="Payment">@Localizer["steps.pay"]</button>
                            </div>
                        </div>
                    </div>
                    <!--form panels-->
                    <div class="row">
                        <div class="col-12 col-lg-12 m-auto">
                            <form class="multisteps-form__form">
                                <!--Datos de contacto-->
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Contact Details</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>@Localizer["formCU.name"]:</label>
                                                <input id="txtNameCu" maxlength="50" class="multisteps-form__input form-control" type="text" value="@ViewBag.firstName" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>@Localizer["formCU.surname"]:</label>
                                                <input id="txtSurname" maxlength="50" class="multisteps-form__input form-control" type="text" value="@ViewBag.surname" />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>@Localizer["formCU.addr"]:</label>
                                                <input id="txtAddressCu" maxlength="50" class="multisteps-form__input form-control" type="text" value="@ViewBag.address" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>@Localizer["formCU.zc"]:</label>
                                                <input id="txtZipeCode" class="multisteps-form__input form-control" type="text" value="@ViewBag.zipCode" />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>@Localizer["formCU.twn"]:</label>
                                                <input id="txtTownCu" maxlength="50" class="multisteps-form__input form-control" type="text" value="@ViewBag.town" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>@Localizer["formCU.emad"]:</label>
                                                <input id="txtMailCu" maxlength="50" class="multisteps-form__input form-control" type="text" value="@ViewBag.email" />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>@Localizer["formCU.tnum"]:</label>
                                                <input id="txtNumeroTel" maxlength="50" class="multisteps-form__input form-control" type="text" value="@ViewBag.telNumber" />
                                            </div>

                                        </div>
                                        <div class="button-row d-flex mt-4">
                                            <button id="btnAddCuContact" class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">@Localizer["btn.next"]</button>
                                        </div>
                                    </div>
                                </div>
                                <!--Travel & Shipping Details-->
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Travel & Shipping Details</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label class="control-label">@Localizer["formCU.dtEntry"]</label>
                                                <div class="controls input-append date form_date" id="dtEntry" data-date="" data-date-format="dd/mm/yy" data-link-field="dtp_EntryCuba" data-link-format="dd/mm/yy">
                                                    <input class="form-control" size="16" type="text" value="@ViewBag.dateEntry" readonly>
                                                    <span class="add-on"><i class="icon-remove"></i></span>
                                                    <span class="add-on"><i class="icon-th"></i></span>
                                                </div>
                                                <input type="hidden" id="dtp_EntryCuba" value="" /><br />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label class="control-label">@Localizer["formCU.dtDep"]</label>
                                                <div class="controls input-append date form_date" id="dtDeparture" data-date="" data-date-format="dd/mm/yy" data-link-field="dtp_DepartureCuba" data-link-format="dd/mm/yy">
                                                    <input class="form-control" size="16" type="text" value="@ViewBag.dateDeparture" readonly>
                                                    <span class="add-on"><i class="icon-remove"></i></span>
                                                    <span class="add-on"><i class="icon-th"></i></span>
                                                </div>
                                                <input type="hidden" id="dtp_DepartureCuba" value="" /><br />
                                            </div>
                                        </div>

                                        <div class="form-row mt-4">
                                            <label>@Localizer["formCU.numsAC"]</label>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>@Localizer["formCU.numAd"]</label>
                                                <select id="ddAdults" class="multisteps-form__select form-control">
                                                    <option value="0">Select Adults</option>
                                                    <option value="1" selected>1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>@Localizer["formCU.numChi"]</label>
                                                <select id="ddChildren" class="multisteps-form__select form-control">
                                                    <option value="0" selected>Select Children</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">

                                                @{
                                                    if (ViewBag.status == 2) //captured
                                                    {
                                                        <button id="btnPassAdult" class="btn btn-success" disabled type="button" title="Choose a pic">Choose's' a passport's Adults</button>
                                                    }
                                                    else
                                                    {
                                                        <button id="btnPassAdult" class="btn btn-success" type="button" title="Choose a pic">Choose's' a passport's Adults</button>
                                                    }
                                                }




                                                <br />
                                                <br />
                                                @{



                                                    if (ViewData["pass0"] != null)
                                                    {
                                                        <a href="@ViewData["pass0"]" class="btn btn-outline-success" data-lightbox="passAdult">Show passport's</a>
                                                        <br />
                                                    }

                                                    if (ViewData["pass1"] != null)
                                                    {
                                                        <a href="@ViewData["pass1"]" data-lightbox="passAdult"></a>
                                                        <br />
                                                    }
                                                    if (ViewData["pass2"] != null)
                                                    {
                                                        <a href="@ViewData["pass2"]" data-lightbox="passAdult"></a>
                                                        <br />
                                                    }
                                                    if (ViewData["pass3"] != null)
                                                    {
                                                        <a href="@ViewData["pass3"]" data-lightbox="passAdult"></a>
                                                        <br />
                                                    }
                                                    if (ViewData["pass4"] != null)
                                                    {
                                                        <a href="@ViewData["pass4"]" data-lightbox="passAdult"></a>
                                                        <br />
                                                    }
                                                    if (ViewData["pass5"] != null)
                                                    {
                                                        <a href="@ViewData["pass5"]" data-lightbox="passAdult"></a>
                                                        <br />
                                                    }

                                                    <!-- Passport's childrens' -->
                                                    if (ViewData["pass6"] != null)
                                                    {
                                                        <a href="@ViewData["pass6"]" data-lightbox="passAdult"></a>
                                                        <br />
                                                    }
                                                    if (ViewData["pass7"] != null)
                                                    {
                                                        <a href="@ViewData["pass7"]" data-lightbox="passAdult"></a>
                                                        <br />
                                                    }
                                                    if (ViewData["pass8"] != null)
                                                    {
                                                        <a href="@ViewData["pass8"]" data-lightbox="passAdult"></a>
                                                        <br />
                                                    }
                                                    if (ViewData["pass9"] != null)
                                                    {
                                                        <a href="@ViewData["pass9"]" data-lightbox="passAdult"></a>
                                                        <br />
                                                    }
                                                    if (ViewData["pass10"] != null)
                                                    {
                                                        <a href="@ViewData["pass10"]" data-lightbox="passAdult"></a>
                                                        <br />
                                                    }


                                                }


                                                @*<label>@Localizer["formCU.pssAd"]</label>
                                                    <input id="fuPassAdult" name="imgupload" type="file" class="file-loading" required accept="image/jpg,image/png,image/jpeg" />*@
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                            @{
                                                 if (ViewBag.status == 2) //captured
                                                {
                                                <button id="btnPassChild" class="btn btn-success" disabled type="button" title="Choose a pic">Choose's a passport's Children's</button>
                                                }
                                                else
                                                {
                                                <button id="btnPassChild" class="btn btn-success" type="button" title="Choose a pic">Choose's a passport's Children's</button>
                                                }

                                            }
                                               
                                            </div>
                                        </div>


                                        <div class="form-row mt-4">
                                            <label>@Localizer["formCU.shipAd"]</label>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="form-row mt-4">
                                            <label>@Localizer["formCU.shipTo"]</label>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label class="checkbox-wrap checkbox-primary">
                                                    @Localizer["formCU.yes"]
                                                    <input id="chekShipYes" name="checkShip" type="checkbox" onclick="onlyOneShip(this)">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label class="checkbox-wrap checkbox-primary">
                                                    @Localizer["formCU.No"]
                                                    <input id="checkShipNo" name="checkShip" type="checkbox" onclick="onlyOneShip(this)">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <!--Form different address-->
                                        <div id="dvformDifAddress">
                                            <div class="form-row mt-4">
                                                <div class="col-12 col-sm-6">
                                                    <label>@Localizer["formCU.surname"]:</label>
                                                    <input id="txtSurNameDifAdd" maxlength="50" class="multisteps-form__input form-control" type="text" value="" />
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <label>@Localizer["formCU.name"]:</label>
                                                    <input id="txtNameDifAd" maxlength="50" class="multisteps-form__input form-control" type="text" value="" />
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <label>@Localizer["formCU.addr"]:</label>
                                                    <input id="txtAddressDifAd" maxlength="50" class="multisteps-form__input form-control" type="text" value="" />
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <label>@Localizer["formCU.zc"]:</label>
                                                    <input id="txtZPDifAd" maxlength="50" class="multisteps-form__input form-control" type="text" value="" />
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <label>@Localizer["formCU.twn"]:</label>
                                                    <input id="txtTownShipDif" maxlength="50" class="multisteps-form__input form-control" type="text" value="" />
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-10">
                                                <label class="checkbox-wrap checkbox-primary">
                                                    <input id="chekch5" name="check" type="checkbox" onclick="onlyOne(this)">
                                                    <span class="checkmark"></span>
                                                    @Localizer["formCU.chf5"]
                                                </label>
                                                <label class="checkbox-wrap checkbox-primary">
                                                    <input id="chekch7" name="check" type="checkbox" onclick="onlyOne(this)">
                                                    <span class="checkmark"></span>
                                                    @Localizer["formCU.chf750"]
                                                </label>
                                                <br />
                                                <label class="checkbox-wrap checkbox-primary">
                                                    <input id="chek22" name="check" type="checkbox" onclick="onlyOne(this)">
                                                    <span class="checkmark"></span>
                                                    @Localizer["formCU.chf22"]
                                                </label>
                                                <label class="checkbox-wrap checkbox-primary">
                                                    <input id="chekNatInt" name="check" type="checkbox" onclick="onlyOne(this)">
                                                    <span class="checkmark"></span>
                                                    @Localizer["formCU.chfnatint"]
                                                </label>
                                            </div>
                                        </div>

                                        <div class="button-row d-flex mt-4">
                                            <button class="btn btn-primary js-btn-prev" type="button" title="Prev">@Localizer["btn.prev"]</button>
                                            <button id="btnAddTripShip" class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">@Localizer["btn.next"]</button>
                                        </div>
                                    </div>
                                </div>
                                <!--Summary-->
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Summary</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            <div id="dvcardMessage" class="card text-white bg-info mb-3">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        <b>@Localizer["formCU.TitSum"]</b>
                                                        <br />
                                                        <br />
                                                        @Localizer["formCU.bloq1"]<br /><br />
                                                        @Localizer["formCU.bloq2"]<br /><br />
                                                        @Localizer["formCU.bloq3"]<br />
                                                        <br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="dvcardMessage" class="card text-white bg-primary mb-3">
                                            <div class="card-body">
                                                Contact Details
                                            </div>
                                        </div>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">@Localizer["formCU.tbName"]</th>
                                                    <th scope="col">@Localizer["formCU.tbSure"]</th>
                                                    <th scope="col">@Localizer["formCU.addr"]</th>
                                                    <th scope="col">@Localizer["formCU.zc"]</th>
                                                    <th scope="col">@Localizer["formCU.twn"]</th>
                                                    <th scope="col">@Localizer["formCU.mailestb"]</th>
                                                    <th scope="col">@Localizer["formCU.tbTel"]</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@ViewBag.firstName</td>
                                                    <td>@ViewBag.surname</td>
                                                    <td>@ViewBag.address</td>
                                                    <td>@ViewBag.zipCode</td>
                                                    <td>@ViewBag.town</td>
                                                    <td>@ViewBag.telNumber</td>
                                                    <td>@ViewBag.email</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div id="dvcardMessage" class="card text-white bg-primary mb-3">
                                            <div class="card-body">
                                                Travel & Shipping Details
                                            </div>
                                        </div>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">@Localizer["formCU.tbEntry"]</th>
                                                    <th scope="col">@Localizer["formCU.tbDep"]</th>
                                                    <th scope="col">@Localizer["formCU.tbNumAdl"]</th>
                                                    <th scope="col">@Localizer["formCU.tbNumChld"]</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@ViewBag.dateEntry</td>
                                                    <td>@ViewBag.dateDeparture</td>
                                                    <td>@ViewBag.numAdults</td>
                                                    <td>@ViewBag.numChild</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-12">
                                                <label>Comments:</label>
                                                <textarea id="txtComments" class="form-control" rows="3" cols="75"></textarea>
                                            </div>

                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-10">
                                                <label class="checkbox-wrap checkbox-primary">
                                                    <input id="checkRead" name="check" type="checkbox">
                                                    <span class="checkmark"></span>
                                                    @Localizer["formCU.reInf"]
                                                </label>
                                                <label class="checkbox-wrap checkbox-primary">
                                                    <input id="checkGTC" name="check" type="checkbox">
                                                    <span class="checkmark"></span>
                                                    @Localizer["formCU.gtc1"] <a href="http://allvisa.s213.sureserver.com/web/AGB_AVS.pdf" target="_blank"> GTC </a>@Localizer["formCU.gtc2"]
                                                </label>
                                                <br />
                                            </div>
                                        </div>
                                        <div class="button-row d-flex mt-4">
                                            <button class="btn btn-primary js-btn-prev" type="button" title="Prev">@Localizer["btn.prev"]</button>
                                            <button id="btnAddSummary" class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">@Localizer["btn.next"]</button>
                                        </div>
                                    </div>
                                </div>
                                <!--Paymet-->
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">@Localizer["formCU.MetPay"]</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            @*<a href="https://test.saferpay.com/vt2/api/PaymentPage/242225/17869305/qm2p4c21z15hgtd4djp2twfp8" data-lightbox="paymentForm">

                                                Open in Lightbox

                                                </a>*@


                                            <div class="col-5 col-sm-5">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="rdOnline">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        @Localizer["formCU.MetPay"]
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-5 col-sm-5">
                                                <div class="form-check">

                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="rdFormat" checked>
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        @Localizer["formCU.Fact"]
                                                    </label>
                                                </div>
                                            </div>

                                            <iframe id="frmOnlineBuy" name="fields-card-number" scrolling="yes" width="100%" src=""></iframe>
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                        </div>
                                        <div class="button-row d-flex mt-4">
                                            <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>

                                            @{

                                                if (ViewBag.status == 2) //captured
                                                {
                                                    <button class="btn btn-success ml-auto js-btn-next" disabled type="button" title="Next">Save form</button>
                                                }
                                                else
                                                {
                                                    <button id="btnSaveForm" class="btn btn-success ml-auto js-btn-next" type="button" title="Next">Save form</button>
                                                }
                                            }


                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>





            <button id="btnMessagePage" data-toggle="modal" data-target="#modalMessage" style="display:none"></button>
            <button id="btnPopChil" data-toggle="modal" data-target="#modalChildren" style="display:none"></button>

            <div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Please choose a picture's of passoprts</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label>@Localizer["formCU.pssAd"]</label>
                                    <br />
                                    <input id="fuPassAdult" name="imgupload" type="file" class="file-loading" required accept="image/jpg,image/png,image/jpeg" />
                                    <br />
                                    <input id="fuPassAdult1" name="imgupload" type="file" class="file-loading" required accept="image/jpg,image/png,image/jpeg" />
                                    <br />
                                    <input id="fuPassAdult2" name="imgupload" type="file" class="file-loading" required accept="image/jpg,image/png,image/jpeg" />
                                    <br />
                                    <input id="fuPassAdult3" name="imgupload" type="file" class="file-loading" required accept="image/jpg,image/png,image/jpeg" />
                                    <br />
                                    <input id="fuPassAdult4" name="imgupload" type="file" class="file-loading" required accept="image/jpg,image/png,image/jpeg" />
                                    <br />
                                    <input id="fuPassAdult5" name="imgupload" type="file" class="file-loading" required accept="image/jpg,image/png,image/jpeg" />

                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <input class="btn btn-success" type="button" id="btnUploadPassAd" value="Upload" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalChildren" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Please choose a picture's of passoprts</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label>@Localizer["formCU.pssCh"]</label>
                                    <br />
                                    <input id="fuPassChild" name="imgupload" type="file" class="file-loading" required accept="image/jpg,image/png,image/jpeg" />
                                    <br />
                                    <input id="fuPassChild1" name="imgupload" type="file" class="file-loading" required accept="image/jpg,image/png,image/jpeg" />
                                    <br />
                                    <input id="fuPassChild2" name="imgupload" type="file" class="file-loading" required accept="image/jpg,image/png,image/jpeg" />
                                    <br />
                                    <input id="fuPassChild3" name="imgupload" type="file" class="file-loading" required accept="image/jpg,image/png,image/jpeg" />
                                    <br />
                                    <input id="fuPassChild4" name="imgupload" type="file" class="file-loading" required accept="image/jpg,image/png,image/jpeg" />


                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <input class="btn btn-success" type="button" id="btnUploadPassCh" value="Upload" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'></script>
    <script src="~/script.js"></script>
    <script src="~/admin/plugins/jquery/jquery.min.js"></script>
    <script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Bootstrap/js/bootstrap-datetimepicker.js"></script>
    <script src="~/js/lightbox.js"></script>

    <script>

        $('#dtEntry').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });


        $('#dtDeparture').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        function onlyOne(checkbox) {
            var checkboxes = document.getElementsByName('check');
            checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false
            });
        }

        function onlyOneShip(checkbox) {
            var checkboxes = document.getElementsByName('checkShip');
            checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false
            });
        }
    </script>
    <script src="~/Forms/js/jsCallPayment.js"></script>
    <script src="~/Forms/js/jsForms.js"></script>
    <script src="~/Forms/js/jsCU.js"></script>
</body>
</html>
