@model AVS_Global.Models.CatModelsView

@{
    Layout = "~/Views/Shared/_NavBarForms.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form | Pakistan</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">

    <link href="~/bootstrap.min.css" rel="stylesheet" />
    <link href="~/style.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" />

</head>
<body>
    <!--PEN CONTENT     -->
    <div class="content">
        <!--content inner-->
        <div class="content__inner">
            <div class="container">
                <!--content title-->
                <div class="content__title content__title--m-sm">
                    <h2>Govemerment of PAKISTAN visa application form</h2>
                    <p>
                        <b>(Please read these instruccions carefully before filling in the application form)</b><br />
                        <blockquote class="small">
                            1.  No column should be left blank.Incomplete forms with vague entries shall not be accepted.<br />
                            Where applicable copies of supportive documents should be submited along whit the application form.<br />
                            2.  Applicants may use extra sheets, in case of insufficient space in the columns of the visa form.<br />
                            3.  TWO(02) passport size photographs should be attached with the visa form.<br />
                            4.  Normal processing time for visa is 4-6 weeks.<br />
                            5.  Applicants could be asked to appear for interview if requiered.<br />
                            6.  On arrival, inmigration formalities are mandatory. (Police registration is applicable in certian cases).<br />
                            7.  Attach blank statement for business visit.<br />
                            8.  Applicant's family' Includes spouse, son, daugther, father, mother.
                        </blockquote>
                    </p>
                </div>
            </div>
            <div class="container overflow-hidden">
                <!--multisteps-form-->
                <div class="multisteps-form">
                    <!--progress bar-->
                    <div class="row">
                        <div class="col-12 col-lg-10 ml-auto mr-auto mb-4">
                            <div class="multisteps-form__progress">
                                <button class="multisteps-form__progress-btn js-active" type="button" title="Personal">Personal Info</button>
                                <button class="multisteps-form__progress-btn" type="button" title="Applicants">Applicant's Details</button>
                                <button class="multisteps-form__progress-btn" type="button" title="Passport Details">Passport Details</button>
                                <button class="multisteps-form__progress-btn" type="button" title="AdressMail">Address & Email</button>
                                <button class="multisteps-form__progress-btn" type="button" title="DetailsJobs">Jobs in the Past</button>
                                <button class="multisteps-form__progress-btn" type="button" title="FamilyDetails">Family Det. Sec.1</button>
                                <button class="multisteps-form__progress-btn" type="button" title="FamilyDetailsTwo">Family Det. Sec.2</button>
                                <button class="multisteps-form__progress-btn" type="button" title="TravelHistory">Travel History</button>
                            </div>
                        </div>
                    </div>
                    <!--form panels-->
                    <div class="row">
                        <div class="col-12 col-lg-8 m-auto">
                            <form class="multisteps-form__form">
                                <!--Personal details-->
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Personal Details</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Type of visa applied for:</label>
                                                <select id="ddVisaApp" class="multisteps-form__select form-control" asp-for="visasApplied.idVisaAp" asp-items="@(new SelectList(@ViewBag.items,"idVisaAp", "typeVisa"))"></select>
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Purpose of Visit:</label>
                                                <select id="ddPurpose" class="multisteps-form__select form-control" asp-for="purposes.IdPurpose" asp-items="@(new SelectList(@ViewBag.itemsPurposes,"IdPurpose", "DescPurpose"))"></select>
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Duration of Stay:</label>
                                                <input id="txtDurationStay" class="multisteps-form__input form-control" maxlength="100" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Visa required for:</label>
                                                <select id="ddVisasTime" class="multisteps-form__select form-control" asp-for="visasRequiered.idVisasTime" asp-items="@(new SelectList(@ViewBag.itemsReq,"idVisasTime", "description"))"></select>
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Type of Visa:</label>
                                                <select id="ddTypeVisa" class="multisteps-form__select form-control" asp-for="typeVisas.IdTypeVisa" asp-items="@(new SelectList(@ViewBag.itemsType,"IdTypeVisa", "TypeVisa"))"></select>
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Port of Entry:</label>
                                                <select id="ddPortIn" class="multisteps-form__select form-control" asp-for="portsInOut.IdPorts" asp-items="@(new SelectList(@ViewBag.itemsPorts,"IdPorts", "DescPorts"))"></select>
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Port of Departure:</label>
                                                <select id="ddPortOut" class="multisteps-form__select form-control" asp-for="portsInOut.IdPorts" asp-items="@(new SelectList(@ViewBag.itemsPorts,"IdPorts", "DescPorts"))"></select>
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Places to be visited in pakistan:</label>
                                                <input id="txtPlacesVisited" class="multisteps-form__input form-control" maxlength="200" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-12">
                                                <label>Details of profesional(Please specify Rank/Service, in case if Armed Forces/Uniform Personnel):</label>
                                                <textarea id="txtDetailsProfesion" class="form-control" maxlength="200" rows="3" cols="75"></textarea>
                                            </div>

                                        </div>
                                        <div class="button-row d-flex mt-4">
                                            <button id="btnPersonalDet" class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <!--Section I applicant details-->
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Applicant's Details</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Name as In Passport:</label>
                                                <input id="txtNamePassport" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Middle Name:</label>
                                                <input id="txtMiddleName" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Last Name:</label>
                                                <input id="txtLastName" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label class="control-label">Date of Birth</label>
                                                <div class="controls input-append date form_date" id="dtPickerBirht" data-date="" data-date-format="dd/mm/yy" data-link-field="dtp_birht" data-link-format="dd/mm/yy">
                                                    <input class="form-control" size="16" type="text" value="" readonly>
                                                    <span class="add-on"><i class="icon-remove"></i></span>
                                                    <span class="add-on"><i class="icon-th"></i></span>
                                                </div>
                                                <input type="hidden" id="dtp_birht" value="" /><br />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <label>Place of birth</label>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>City</label>
                                                <input id="txtCityBirth" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Country</label>
                                                <select id="ddCountryDetails" class="multisteps-form__select form-control" asp-for="countries.IdCatCountry" asp-items="@(new SelectList(@ViewBag.itemsCountries,"IdCatCountry", "Country"))"></select>
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <label>Sex</label>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label class="checkbox-wrap checkbox-primary">
                                                    Male
                                                    <input id="chekSexMen" name="check" type="checkbox" onclick="onlyOne(this)">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label class="checkbox-wrap checkbox-primary">
                                                    Female
                                                    <input id="chekSexWom" name="check" type="checkbox" onclick="onlyOne(this)">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <label>Marital status</label>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label class="checkbox-wrap checkbox-primary">
                                                    Single
                                                    <input id="chekMaritalSingle" name="checkMarr" type="checkbox" onclick="onlyCheckMarried(this)">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label class="checkbox-wrap checkbox-primary">
                                                    Married
                                                    <input id="chekMaritalMarried" name="checkMarr" type="checkbox" onclick="onlyCheckMarried(this)">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Blood Group</label>
                                                <input id="txtBlood" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Identification Mark</label>
                                                <input id="txtIdMark" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Native Language:</label>
                                                <input id="txtNatLan" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Religion:</label>
                                                <input id="txtReligion" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <label>Nationality:</label>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Present:</label>
                                                <input id="txtPresentNat" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Previous:</label>
                                                <input id="txtPreviousNat" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Dual:</label>
                                                <input id="txtDualNat" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                        </div>
                                        <div class="button-row d-flex mt-4">
                                            <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                                            <button id="btnAppDetails" class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <!--Passport Detais-->
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Passport Details</h3>
                                    <div class="multisteps-form__content">

                                        <div class="form-row mt-4">
                                            <label>Type of Passport</label>
                                            <select id="ddTypePass" class="multisteps-form__select form-control" asp-for="typesPass.IdTypePass" asp-items="@(new SelectList(@ViewBag.itemsTypesPass,"IdTypePass", "TypePass"))"></select>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label class="checkbox-wrap checkbox-primary">
                                                    UN Travel documents
                                                    <input id="chekUNTravel" type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Passport Number</label>
                                                <input id="passNum" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                                                <label>Place of Issue</label>
                                                <input id="txtIssue" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                                                <label class="control-label">Date of Issue</label>
                                                <div class="controls input-append date form_date" id="dtPickerIssue" data-date="" data-date-format="dd/mm/yy" data-link-field="dtp_issue" data-link-format="dd/mm/yy">
                                                    <input class="form-control" size="16" type="text" value="" readonly>
                                                    <span class="add-on"><i class="icon-remove"></i></span>
                                                    <span class="add-on"><i class="icon-th"></i></span>
                                                </div>
                                                <input type="hidden" id="dtp_issue" value="" /><br />
                                            </div>
                                            <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                                                <label class="control-label">Date of Expiry</label>
                                                <div class="controls input-append date form_date" id="dtPickerExpiry" data-date="" data-date-format="dd/mm/yy" data-link-field="dtp_Expiry" data-link-format="dd/mm/yy">
                                                    <input class="form-control" size="16" type="text" value="" readonly>
                                                    <span class="add-on"><i class="icon-remove"></i></span>
                                                    <span class="add-on"><i class="icon-th"></i></span>
                                                </div>
                                                <input type="hidden" id="dtp_Expiry" value="" /><br />
                                            </div>
                                            <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                                                <label>Issuing Authority</label>
                                                <input id="txtIsAuth" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                        </div>

                                        <div class="button-row d-flex mt-4">
                                            <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                                            <button id="btnPassportDet" class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <!--Adress & Email-->
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Address & Email</h3>
                                    <div class="multisteps-form__content">
                                        <div class="row">
                                            @*<div class="col-12 col-md-6 mt-4">
                                                    <div class="card shadow-sm">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Item Title</h5>
                                                            <p class="card-text">Small and nice item description</p><a class="btn btn-primary" href="#" title="Item Link">Item Link</a>
                                                        </div>
                                                    </div>
                                                </div>*@

                                            <div class="form-row mt-4">
                                                <label>Abroad / Country of origin:</label>
                                                <select id="ddCountryAdress" class="multisteps-form__select form-control" asp-for="countries.IdCatCountry" asp-items="@(new SelectList(@ViewBag.itemsCountries,"IdCatCountry", "Country"))"></select>
                                            </div>
                                            <div class="form-row mt-4">
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                    <label>Telephone:</label>
                                                </div>
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                </div>
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                    <label>a):</label>
                                                </div>
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                </div>
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                    <label>Home:</label>
                                                    <input id="txtPhoneHome" class="multisteps-form__input form-control" type="text" />
                                                </div>
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                    <label>Work:</label>
                                                    <input id="txtPhoneWork" class="multisteps-form__input form-control" type="text" />
                                                </div>
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                    <label>Cell:</label>
                                                    <input id="txtPhoneCell" class="multisteps-form__input form-control" type="text" />
                                                </div>
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                    <label>In Pakistan:</label>
                                                    <input id="txtInPakistan" class="multisteps-form__input form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="form-row mt-4">
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                    <label>b):</label>
                                                </div>
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                </div>
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                </div>
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                </div>
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                    <label>Home:</label>
                                                    <input id="txtPhoneHomeb" class="multisteps-form__input form-control" type="text" />
                                                </div>
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                    <label>Work:</label>
                                                    <input id="txtPhoneWorkb" class="multisteps-form__input form-control" type="text" />
                                                </div>
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                    <label>Cell:</label>
                                                    <input id="txtPhoneCellb" class="multisteps-form__input form-control" type="text" />
                                                </div>
                                                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                    <label>Email:</label>
                                                    <input id="txtEmail" class="multisteps-form__input form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="form-row mt-4">
                                                <div class="col-12 col-sm-6">
                                                    <label class="checkbox-wrap checkbox-primary">
                                                        Is your visit sponsored?
                                                        <input id="chekSponsored" type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                                <div id="sponsorA">
                                                    <div class="form-row mt-4">
                                                        <div class="col-12 col-sm-6">
                                                            <label>Name of Sponsor:</label>
                                                            <input id="txtNameSponsorA" class="multisteps-form__input form-control" type="text" />
                                                        </div>
                                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                            <label>Address:</label>
                                                            <input id="txtAddressA" class="multisteps-form__input form-control" type="text" />
                                                        </div>
                                                    </div>
                                                    @* next *@
                                                    <div class="form-row mt-4">
                                                        <div class="col-12 col-sm-6">
                                                            <label>City:</label>
                                                            <input id="txtCityA" class="multisteps-form__input form-control" type="text" />
                                                        </div>
                                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                            <label>ZIP:</label>
                                                            <input id="txtPCA" class="multisteps-form__input form-control" type="text" />
                                                        </div>
                                                    </div>
                                                    @* next *@
                                                    <div class="form-row mt-4">
                                                        <div class="col-12 col-sm-6">
                                                            <label>Phone Home:</label>
                                                            <input id="txtPHomeSponsorA" class="multisteps-form__input form-control" type="text" />
                                                        </div>
                                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                            <label>Phone Work:</label>
                                                            <input id="txtPWorkSponsorA" class="multisteps-form__input form-control" type="text" />
                                                        </div>
                                                    </div>
                                                    @* next *@
                                                    <div class="form-row mt-4">
                                                        <div class="col-12 col-sm-6">
                                                            <label>Cell Work:</label>
                                                            <input id="txtPCellSponsorA" class="multisteps-form__input form-control" type="text" />
                                                        </div>
                                                    </div>
                                                    <div class="form-row mt-4">
                                                        <div class="col-12 col-sm-6">
                                                            <label class="checkbox-wrap checkbox-primary">
                                                                Other sponsored?
                                                                <input id="chekSponOther" type="checkbox">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div id="dvSponsoredB">
                                                    <div class="form-row mt-4">
                                                        <div class="col-12 col-sm-6">
                                                            <label>Name of Sponsor:</label>
                                                            <input id="txtNameSponsorB" class="multisteps-form__input form-control" type="text" />
                                                        </div>
                                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                            <label>Address:</label>
                                                            <input id="txtAddressB" class="multisteps-form__input form-control" type="text" />
                                                        </div>
                                                    </div>
                                                    @* next *@
                                                    <div class="form-row mt-4">
                                                        <div class="col-12 col-sm-6">
                                                            <label>City:</label>
                                                            <input id="txtCityB" class="multisteps-form__input form-control" type="text" />
                                                        </div>
                                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                            <label>ZIP:</label>
                                                            <input id="txtPCB" class="multisteps-form__input form-control" type="text" />
                                                        </div>
                                                    </div>
                                                    @* next *@
                                                    <div class="form-row mt-4">
                                                        <div class="col-12 col-sm-6">
                                                            <label>Phone Home:</label>
                                                            <input id="txtPHomeSponsorB" class="multisteps-form__input form-control" type="text" />
                                                        </div>
                                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                            <label>Phone Work:</label>
                                                            <input id="txtPWorkSponsorB" class="multisteps-form__input form-control" type="text" />
                                                        </div>
                                                    </div>
                                                    @* next *@
                                                    <div class="form-row mt-4">
                                                        <div class="col-12 col-sm-6">
                                                            <label>Cell Work:</label>
                                                            <input id="txtPCellSponsorB" class="multisteps-form__input form-control" type="text" />
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="button-row d-flex mt-4 col-12">
                                                <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                                                <button id="btnAddDetails" class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Details Jobs in the past-->
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Details of jobs hield in the past</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Designation:</label>
                                                <input id="txtDesignation" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Departament:</label>
                                                <input id="txtDepartament" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <label class="control-label">Duration from</label>
                                                <div class="controls input-append date form_date" id="dtDurationFrom" data-date="" data-date-format="dd/mm/yy" data-link-field="dtp_durFrom" data-link-format="dd/mm/yy">
                                                    <input class="form-control" size="16" type="text" value="" readonly>
                                                    <span class="add-on"><i class="icon-remove"></i></span>
                                                    <span class="add-on"><i class="icon-th"></i></span>
                                                </div>
                                                <input type="hidden" id="dtp_durFrom" value="" /><br />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label class="control-label">Duration to</label>
                                                <div class="controls input-append date form_date" id="dtDurationTo" data-date="" data-date-format="dd/mm/yy" data-link-field="dtp_durTo" data-link-format="dd/mm/yy">
                                                    <input class="form-control" size="16" type="text" value="" readonly>
                                                    <span class="add-on"><i class="icon-remove"></i></span>
                                                    <span class="add-on"><i class="icon-th"></i></span>
                                                </div>
                                                <input type="hidden" id="dtp_durTo" value="" /><br />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Duties:</label>
                                                <input id="txtDuties" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Name:</label>
                                                <input id="txtNameHead" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Address:</label>
                                                <input id="txtAdressJobs" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Phone:</label>
                                                <input id="txtPhoneHead" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                        </div>

                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label class="checkbox-wrap checkbox-primary">
                                                    Are you applying visa from a third country?
                                                    <input id="chekApp3Country" type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div id="dvApply3Country">
                                            <div class="form-row mt-4">
                                                <div class="col-12 col-sm-10">
                                                    <label>Please provide copy of residence / work permit of that country</label>
                                                    <input id="txtProvideRes" class="multisteps-form__input form-control" type="text" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="button-row d-flex mt-4">
                                            <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                                            <button id="btnAddPastJobs" class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <!--Family Details section 1-->
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Family Details Section I</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Name of Mother:</label>
                                                <input id="txtNameMother" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Nationality of Mother:</label>
                                                <select id="ddlNatMother" class="multisteps-form__select form-control" asp-for="countries.IdCatCountry" asp-items="@(new SelectList(@ViewBag.itemsCountries,"IdCatCountry", "Country"))"></select>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <label>Name of Father:</label>
                                                <input id="txtNameFatherr" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Nationality of Father:</label>
                                                <select id="ddlNatFather" class="multisteps-form__select form-control" asp-for="countries.IdCatCountry" asp-items="@(new SelectList(@ViewBag.itemsCountries,"IdCatCountry", "Country"))"></select>
                                            </div>
                                            <br />
                                            <div class="col-12 col-sm-6">
                                                <label>Spouse details:</label>
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">

                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <label>Name:</label>
                                                <input id="txtNameSpouse" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Nationality:</label>
                                                <select id="ddlNatSpouse" class="multisteps-form__select form-control" asp-for="countries.IdCatCountry" asp-items="@(new SelectList(@ViewBag.itemsCountries,"IdCatCountry", "Country"))">
                                                    <option value="0">Choose nationality</option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <label class="control-label">Date Birth</label>
                                                <div class="controls input-append date form_date" id="dtBirthSpuse" data-date="" data-date-format="dd/mm/yy" data-link-field="dtp_BirthSpo" data-link-format="dd/mm/yy">
                                                    <input class="form-control" size="16" type="text" value="" readonly>
                                                    <span class="add-on"><i class="icon-remove"></i></span>
                                                    <span class="add-on"><i class="icon-th"></i></span>
                                                </div>
                                                <input type="hidden" id="dtp_BirthSpo" value="" /><br />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Place of Birth:</label>
                                                <input id="txtPlaceBirth" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <label>Profesion</label>
                                                <input id="txtProfesion" class="multisteps-form__input form-control" type="text" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">

                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <br />
                                                <br />
                                                <label class="checkbox-wrap checkbox-primary">
                                                    Spouse Employer?
                                                    <input id="chekSpouseEmp" type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">

                                            </div>

                                            @* Spouse details employer *@
                                            <div id="dvSpouseEmp">
                                                <div class="form-row mt-4">
                                                    <div class="col-12 col-sm-6">
                                                        <label>Name Employer</label>
                                                        <input id="txtNameEmployer" class="multisteps-form__input form-control" type="text" />
                                                    </div>
                                                    <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                        <label>Address:</label>
                                                        <input id="txtAddEmp" class="multisteps-form__input form-control" type="text" />
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <label>Tel Employer</label>
                                                        <input id="txtPhoneEmp" class="multisteps-form__input form-control" type="text" />
                                                    </div>
                                                    <div class="col-12 col-sm-6 mt-4 mt-sm-0">

                                                    </div>
                                                </div>
                                            </div>
                                            @* Children's panel' *@
                                            <div class="col-12 col-sm-6">
                                                <br />
                                                <br />
                                                <label class="checkbox-wrap checkbox-primary">
                                                    Do you have any children?
                                                    <input id="checkChildren" type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                            </div>
                                            <div id="dvChil1">
                                                <div class="form-row mt-4">
                                                    <table id="tblChildrens" class="table" cellpadding="0" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <td>Name</td>
                                                                <td>Date Birth</td>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td><input class="form-control" type="text" id="txtNameChild" /></td>
                                                                <td><input class="form-control" type="text" id="txtBirthChild" placeholder="dd/MM/yyyy" /></td>
                                                                <td><input class="btn btn-success" type="button" id="btnAdd" value="Add" /></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                    <br />
                                                </div>


                                            </div>

                                            <div id="dvChil2">
                                                <div class="form-row mt-4">
                                                    <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                        <label>Name:</label>
                                                        <input id="txtChildren2" class="multisteps-form__input form-control" type="text" />
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <label class="control-label">Date Birth</label>
                                                        <div class="controls input-append date form_date" id="dtBirthChil2" data-date="" data-date-format="dd/mm/yy" data-link-field="dtp_Chil2" data-link-format="dd/mm/yy">
                                                            <input class="form-control" size="16" type="text" value="" readonly>
                                                            <span class="add-on"><i class="icon-remove"></i></span>
                                                            <span class="add-on"><i class="icon-th"></i></span>
                                                        </div>
                                                        <input type="hidden" id="dtp_Chil2" value="" /><br />
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <label class="checkbox-wrap checkbox-primary">
                                                            Other Children?
                                                            <input id="checkChildren2" type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="button-row d-flex mt-4">
                                            <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                                            <button id="btnAddFamilySec1" class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <!--Family Details section 2-->
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Family Details Section II</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-12">
                                                <label>Please list any of accompanying person / family member(include children) traveling with you to Pakistan:</label>

                                            </div>

                                            <div class="col-12 col-sm-6">
                                                <br />
                                                <br />
                                                <label class="checkbox-wrap checkbox-primary">
                                                    Do you have any accompanying?
                                                    <input id="checkAccomp" type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                            </div>


                                            <div id="dvAccomp">
                                                <div class="form-row mt-4">
                                                    <table id="tblAccompany" class="table" cellpadding="0" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <td>Fulla Name</td>
                                                                <td>Date Birth</td>
                                                                <th>Passport Number</th>
                                                                <th>Address</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td><input class="form-control" type="text" id="txtNameAccom" /></td>
                                                                <td><input class="form-control" type="text" id="txtBirthAccom" placeholder="dd/MM/yyyy" /></td>
                                                                <td><input class="form-control" type="text" id="txtPassportNumAccom" /></td>
                                                                <td><input class="form-control" type="text" id="txtAddressAccom" /></td>
                                                                <td><input class="btn btn-success" type="button" id="btnAddAccomp" value="Add" /></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                    <br />
                                                </div>
                                            </div>

                                            @* bank account panel' *@
                                            <div class="col-12 col-sm-6">
                                                <br />
                                                <br />
                                                <label class="checkbox-wrap checkbox-primary">
                                                    Do you have any bank account in Pakistan?
                                                    <input id="checkBank" type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                            </div>

                                            <div id="dvBankPanel">
                                                <div class="form-row mt-4">
                                                    <div class="col-12 col-sm-6">
                                                        <label>Bank Name:</label>
                                                        <input id="txtBankName" class="multisteps-form__input form-control" type="text" />
                                                    </div>
                                                    <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                        <label>Branch:</label>
                                                        <input id="txtBranch" class="multisteps-form__input form-control" type="text" />
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <label>A/c Number:</label>
                                                        <input id="txtAcNumber" class="multisteps-form__input form-control" type="text" />
                                                    </div>
                                                    <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                        <label>Address:</label>
                                                        <input id="txtAddressBank" class="multisteps-form__input form-control" type="text" />
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <label>Veriefer Details:</label>
                                                        <input id="txtVerifier" class="multisteps-form__input form-control" type="text" />
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="button-row d-flex mt-4">
                                            <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                                            <button id="btnAddFamilySec2" class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <!--Travel history-->
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Travel History</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label class="checkbox-wrap checkbox-primary">
                                                    Have you ever visited Pakistan during last five years?:
                                                    <input id="checkLast5Years" name="check" type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <!--Visited last 5 years pakistan-->

                                        <div id="dvVisitedLast5Ye">
                                            <div class="form-row mt-4">
                                                <table id="tblVisitedLast5" class="table" cellpadding="0" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <td>Date</td>
                                                            <td>Destination/Addresss</td>
                                                            <th>Purpose</th>
                                                            <th>Duration</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td><input class="form-control" type="text" id="txtDateLast5" placeholder="dd/MM/yyyy" /></td>
                                                            <td><input class="form-control" type="text" id="txtDestinLast5"  /></td>
                                                            <td><input class="form-control" type="text" id="txtPurposeLast5" /></td>
                                                            <td><input class="form-control" type="text" id="txtDurationLast5" /></td>
                                                            <td><input class="btn btn-success" type="button" id="btnAddVisitedL5" value="Add" /></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                <br />
                                            </div>
                                        </div>

  
                                        <!--End form Visited last 5 years pakistan-->

                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Details Of others countries visited, during last two years</label>

                                            </div>
                                        </div>
                                        <!--Visited last 2 years pakistan-->
                                        <div id="dvVisitedLast2Ye">
                                            <div class="form-row mt-4">
                                                <table id="tblVisitedLast2" class="table" cellpadding="0" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <td>Date</td>
                                                            <td>Destination/Addresss</td>
                                                            <th>Purpose</th>
                                                            <th>Duration</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td><input class="form-control" type="text" id="txtDateLast2" placeholder="dd/MM/yyyy" /></td>
                                                            <td><input class="form-control" type="text" id="txtDestinLast2" /></td>
                                                            <td><input class="form-control" type="text" id="txtPurposeLast2" /></td>
                                                            <td><input class="form-control" type="text" id="txtDurationLast2" /></td>
                                                            <td><input class="btn btn-success" type="button" id="btnAddVisitedL2" value="Add" /></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                <br />
                                            </div>
                                        </div>

                                        <!--End form Visited last 2 years pakistan-->

                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-8">
                                                <label class="checkbox-wrap checkbox-primary">
                                                    Have you ever been refused a visa for any country, Including Pakistan?:
                                                    <input id="checkRefused" name="check" type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label class="checkbox-wrap checkbox-primary">
                                                    Have you ever been refused entry on arrival to Pakistan?:
                                                    <input id="checkRefusedEntry" name="check" type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div id="dvDetailsOfRefusal">
                                            <div class="form-row mt-4">
                                                <div class="col-6 col-sm-12">
                                                    <label>Please provide details of refusal</label>
                                                    <textarea id="txtDetailsRefusal" class="form-control" rows="3" cols="75"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-8">
                                                <label class="checkbox-wrap checkbox-primary">
                                                    Have you ever been deported, removed or otherwise required to leave any country, Including Pakistan?:
                                                    <input id="checkDeported" name="check" type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>


                                        <div id="dvDeported">
                                            <div class="form-row mt-4">
                                                <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                                                    <label class="control-label">Date</label>
                                                    <div class="controls input-append date form_date" id="dtDateDeported" data-date="" data-date-format="dd/mm/yy" data-link-field="dtp_Deported" data-link-format="dd/mm/yy">
                                                        <input class="form-control" size="16" type="text" value="" readonly>
                                                        <span class="add-on"><i class="icon-remove"></i></span>
                                                        <span class="add-on"><i class="icon-th"></i></span>
                                                    </div>
                                                    <input type="hidden" id="dtp_Deported" value="" /><br />
                                                </div>
                                                <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                                                    <label>Country</label>
                                                    <select id="ddCountryDeport" class="multisteps-form__select form-control" asp-for="countries.IdCatCountry" asp-items="@(new SelectList(@ViewBag.itemsCountries,"IdCatCountry", "Country"))">
                                                        <option value="0">Choose Country</option>
                                                    </select>
                                                </div>
                                                <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                                                    <label>Reason</label>
                                                    <input id="txtReasonDepo" class="multisteps-form__input form-control" type="text" />
                                                </div>
                                                <div class="col-6 col-sm-4 mt-4 mt-sm-0">
                                                    <label>Reference Number(for Pakistan)</label>
                                                    <input id="txtrefNumberDepo" class="multisteps-form__input form-control" type="text" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-8">
                                                <label class="checkbox-wrap checkbox-primary">
                                                    Dou you have any criminal convictions or charged in any country?:
                                                    <input id="checkCriminal" name="check" type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div id="dvCriminal">
                                            <div class="form-row mt-4">
                                                <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                                                    <label class="control-label">Date</label>
                                                    <div class="controls input-append date form_date" id="dtDateCriminal" data-date="" data-date-format="dd/mm/yy" data-link-field="dtp_Criminal" data-link-format="dd/mm/yy">
                                                        <input class="form-control" size="16" type="text" value="" readonly>
                                                        <span class="add-on"><i class="icon-remove"></i></span>
                                                        <span class="add-on"><i class="icon-th"></i></span>
                                                    </div>
                                                    <input type="hidden" id="dtp_Criminal" value="" /><br />
                                                </div>
                                                <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                                                    <label>Country</label>
                                                    <select id="ddCountryConviction" class="multisteps-form__select form-control" asp-for="countries.IdCatCountry" asp-items="@(new SelectList(@ViewBag.itemsCountries,"IdCatCountry", "Country"))">
                                                        <option value="0">Choose Country</option>
                                                    </select>
                                                </div>
                                                <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                                                    <label>Offence</label>
                                                    <input id="txtOffenceCriminal" class="multisteps-form__input form-control" type="text" />
                                                </div>
                                                <div class="col-6 col-sm-4 mt-4 mt-sm-0">
                                                    <label>Sentence</label>
                                                    <input id="txtSentence" class="multisteps-form__input form-control" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <h2>Declaration</h2>
                                        <p>
                                            <blockquote class="small">
                                                I declare that the Information given in this form is correct to the best of my knowledge<br />
                                                and bellet and if any of the particulars furnished above are found to be Incorrect or<br />
                                                withheld the visa is liable to be rejected / cancelled at any time.
                                            </blockquote>
                                        </p>

                                        <div class="button-row d-flex mt-4">
                                            <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                                            <button id="btnsaveForm" class="btn btn-success ml-auto" type="button" title="Send">Save formulary</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'></script>
    <script src="~/script.js"></script>
    <script src="~/Bootstrap/js/jquery-1.8.3.min.js"></script>
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Bootstrap/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#sponsorA").hide();
            $("#dvSponsoredB").hide();
            $("#dvApply3Country").hide();
            $("#dvSpouseEmp").hide();
            $("#dvChil1").hide();
            $("#dvChil2").hide();
            $("#dvAccompanying").hide();
            $("#dvAccompanying1").hide();
            $("#dvBankPanel").hide();
            $("#dvVisitedLast5Ye").hide();
            $("#dvVisitedLast5Y1").hide();
            $("#dvVisitedLast5Y2").hide();
            $("#dvVisitedLast5Y3").hide();
            $("#dvVisitedLast5Y4").hide();
            $("#dvDetailsOfRefusal").hide();
            $("#dvDeported").hide();
            $("#dvCriminal").hide();

            $("#dvAccomp").hide();

            //$("#dvVisitedLast2Ye").hide();
            //$("#dvVisitedLast2Ye1").hide();
            //$("#dvVisitedLast2Ye2").hide();
            //$("#dvVisitedLast2Ye3").hide();
            //$("#dvVisitedLast2Ye4").hide();

            $('#checkAccomp').change(function () {
                if (this.checked)
                    $('#dvAccomp').fadeIn('slow');
                else
                    $('#dvAccomp').fadeOut('slow');

            });

            $('#checkCriminal').change(function () {
                if (this.checked)
                    $('#dvCriminal').fadeIn('slow');
                else
                    $('#dvCriminal').fadeOut('slow');

            });

            $('#checkDeported').change(function () {
                if (this.checked)
                    $('#dvDeported').fadeIn('slow');
                else
                    $('#dvDeported').fadeOut('slow');

            });

            $('#checkRefusedEntry').change(function () {
                if (this.checked)
                    $('#dvDetailsOfRefusal').fadeIn('slow');
                else
                    $('#dvDetailsOfRefusal').fadeOut('slow');

            });

            $('#chekSponsored').change(function () {
                if (this.checked)
                    $('#sponsorA').fadeIn('slow');
                else
                    $('#sponsorA').fadeOut('slow');

            });

            $('#chekSponOther').change(function () {
                if (this.checked)
                    $('#dvSponsoredB').fadeIn('slow');
                else
                    $('#dvSponsoredB').fadeOut('slow');

            });

            $('#chekApp3Country').change(function () {
                if (this.checked)
                    $('#dvApply3Country').fadeIn('slow');
                else
                    $('#dvApply3Country').fadeOut('slow');

            });

            $('#chekSpouseEmp').change(function () {
                if (this.checked)
                    $('#dvSpouseEmp').fadeIn('slow');
                else
                    $('#dvSpouseEmp').fadeOut('slow');

            });

            $('#checkChildren').change(function () {
                if (this.checked)
                    $('#dvChil1').fadeIn('slow');
                else
                    $('#dvChil1').fadeOut('slow');

            });

            $('#checkChildren1').change(function () {
                if (this.checked)
                    $('#dvChil2').fadeIn('slow');
                else
                    $('#dvChil2').fadeOut('slow');

            });

            $('#checkAccompanying').change(function () {
                if (this.checked)
                    $('#dvAccompanying').fadeIn('slow');
                else
                    $('#dvAccompanying').fadeOut('slow');

            });

            $('#checkAccompanying1').change(function () {
                if (this.checked)
                    $('#dvAccompanying1').fadeIn('slow');
                else
                    $('#dvAccompanying1').fadeOut('slow');

            });

            $('#checkBank').change(function () {
                if (this.checked)
                    $('#dvBankPanel').fadeIn('slow');
                else
                    $('#dvBankPanel').fadeOut('slow');

            });

            $('#checkLast5Years').change(function () {
                if (this.checked)
                    $('#dvVisitedLast5Ye').fadeIn('slow');
                else
                    $('#dvVisitedLast5Ye').fadeOut('slow');

            });

            $('#checkLast5Years').change(function () {
                if (this.checked) {
                    $('#dvVisitedLast5Ye').fadeIn('slow');
                    $("#dvVisitedLast5Y1").fadeIn('slow');
                    $("#dvVisitedLast5Y2").fadeIn('slow');
                    $("#dvVisitedLast5Y3").fadeIn('slow');
                    $("#dvVisitedLast5Y4").fadeIn('slow');
                }
                else {
                    $('#dvVisitedLast5Ye').fadeOut('slow');
                    $("#dvVisitedLast5Y1").fadeOut('slow');
                    $("#dvVisitedLast5Y2").fadeOut('slow');
                    $("#dvVisitedLast5Y3").fadeOut('slow');
                    $("#dvVisitedLast5Y4").fadeOut('slow');
                }


            });


        });


    </script>
    <script>
        $('#dtDateDeported').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });


        $('#dtDateCriminal').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });



        $('#dtPickerBirht').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        $('#dtPickerIssue').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        $('#dtPickerExpiry').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        $('#dtDurationFrom').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });


        $('#dtDurationTo').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });


        $('#dtBirthSpuse').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        $('#dtBirthChil1').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });


        $('#dtBirthChil2').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });


        $('#dtBirthAccomp').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });


        $('#dtBirthAccomp1').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });


        $('#dtBirthAccomp2').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        $('#dtDateVisited').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        $('#dtDateVisited1').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        $('#dtDateVisited2').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        $('#dtDateVisited3').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        $('#dtDateVisited4').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });


        $('#dtDateVisitedTwo').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });


        $('#dtDateVisitedTwo1').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });


        $('#dtDateVisitedTwo2').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });


        $('#dtDateVisitedTwo3').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });


        $('#dtDateVisitedTwo4').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        function onlyOne(checkbox) {
            var checkboxes = document.getElementsByName('check');
            checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false
            });
        }

        function onlyCheckMarried(checkbox) {
            var checkMarried = document.getElementsByName('checkMarr');
            checkMarried.forEach((item) => {
                if (item !== checkbox) item.checked = false
            });

        }


    </script>
    <script src="~/Forms/js/jsForms.js"></script>
</body>
</html>
